<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${cardModel.areaName}"></title>
    <link rel="stylesheet" href="/resume/plug-in/layui/css/layui.css">
</head>
<body>
    <div>
        <div class="title-cl ele-float-left">


        </div>
        <div class="content-cl ele-float-left">

        </div>
    </div>
    <script src="/resume/js/jquery-1.9.1.js"></script>
    <script src="/resume/plug-in/layui/layui.all.js"></script>
    <script>
        $(function () {
        })
    </script>
</body>
</html>
<style>
    .title-cl{
        width: 20%;
        height: 800px;
        border: 1px solid red;
    }
    .content-cl{
        width: 79%;
        height: 800px;
        border: 1px solid red;
    }


    .ele-float-left{
        float: left;
    }
    .ele-float-right{
        float: right;
    }
</style>
